:root {
	/* colors */
	--color-background: #f9f9f9;
	--color-text: #000000;
	--color-text-white: #ffffff;
	--color-secondary: #606060;
	--color-accent: #ff0000;
	--color-success: #2ecc71;
	--color-button-background: #eaeaea;
	--color-border: #bbbbbb;
	--color-background-hover: #e0e0e0;
	--color-border-hover: #000000;

	/* typography */
	--font-size-xs: 12px;
	--font-size-sm: 14px;
	--font-size-md: 16px;
	--font-size-lg: 18px;
	--font-size-xl: 24px;
	--font-size-2xl: 32px;
	--font-weight-sm: 400;
	--font-weight-md: 500;
	--font-weight-lg: 600;
	--font-weight-xl: 700;

	/* spacings */
	--spacing-3xs: 1px;
	--spacing-2xs: 2px;
	--spacing-xs: 4px;
	--spacing-sm: 8px;
	--spacing-md: 12px;
	--spacing-lg: 16px;
	--spacing-xl: 20px;
	--spacing-2xl: 32px;

	/* border radiuses */
	--border-radius-xs: 4px;
	--border-radius-sm: 8px;
	--border-radius-md: 12px;
	--border-radius-lg: 16px;
	--border-radius-xl: 24px;
	--border-radius-circle: 50%;

	/* shadows */
	--shadow-elevated: 0 2px 4px rgba(0, 0, 0, 0.1);

	/* transitions */
	--transition-speed-fast: 0.15s;
	--transition-speed-normal: 0.25s;
	--transition-easing-default: ease-in-out;
}

html[data-theme='dark'] {
	/* colors */
	--color-background: #000000;
	--color-text: #ffffff;
	--color-text-white: #ffffff;
	--color-secondary: #aaaaaa;
	--color-accent: #ff0000;
	--color-success: #2ecc71;
	--color-button-background: #212121;
	--color-border: #383838;
	--color-background-hover: #303030;
	--color-border-hover: #808080;

	/* shadows */
	--shadow-elevated: 0 2px 4px rgba(0, 0, 0, 0.3);
}
