.videoPlayerWrapper {
	position: relative;
	aspect-ratio: 16 / 9;
}

.videoPlayer {
	position: absolute;
	top: 0;
	left: 0;
}

.plyr {
	border-radius: var(--border-radius-lg);
}

:global(.plyr) {
	border-radius: var(--border-radius-lg);
}
