.button {
	display: flex;
	align-items: center;
	gap: var(--spacing-xs);
	width: fit-content;
	padding: var(--spacing-sm) var(--spacing-lg);
	border-radius: var(--border-radius-xl);
	background: var(--color-button-background);
	font-weight: var(--font-weight-lg);
	font-size: var(--font-size-md);
	color: var(--color-text);
	border: none;
	cursor: pointer;
	transition: var(--transition-speed-normal);
	user-select: none;
}

.button:hover:not(.disabled) {
	background: var(--color-background-hover);
}

.filled {
	background: var(--color-button-background);
}

.transparent {
	background: transparent;
}

.text {
	padding: var(--spacing-lg) var(--spacing-xl);
	border-radius: var(--border-radius-sm);
	background: transparent;
	font-weight: var(--font-weight-md);
}

.fullWidth {
	width: 100%;
}

.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
