.button {
	font-size: var(--font-size-lg);
	color: var(--color-text);
	font-weight: var(--font-weight-lg);
	padding: var(--spacing-sm) var(--spacing-lg);
	border: none;
	border-radius: var(--border-radius-xl);
	cursor: pointer;
	transition: var(--transition-speed-normal);
}

.button:hover:not(.disabled) {
	background: var(--color-background-hover);
}

.primary {
	background: var(--color-button-background);
}

.transparent {
	background: transparent;
}

.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
