.avatar {
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

.size-sm {
	width: 30px;
}

.size-md {
	width: 36px;
}

.size-lg {
	width: 40px;
}

.size-xl {
	width: 50px;
}

.size-2xl {
	width: 160px;
}

.circle {
	border-radius: 50%;
}

.square {
	border-radius: 4px;
}
