.sidebar {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 64px;
	min-width: 64px;
	height: 100%;
	overflow: hidden;
	transition: width 0.25s ease-in-out;
}

.sidebar.expanded {
	width: 200px;
}
