.videoDetails {
	display: flex;
	flex-direction: column;
}

.channelAndActions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.actions {
	display: flex;
	gap: var(--spacing-md);
}

.saveButton {
	margin-left: var(--spacing-md);
}
