.videoCard {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
	width: 100%;
	border-radius: var(--border-radius-sm);
	list-style: none;
	cursor: pointer;

	--hover-bg-color: transparent;
	--hover-bg-opacity: 0;
}

.videoCard::before {
	content: '';
	position: absolute;
	inset: 0.5%;
	border-radius: var(--border-radius-sm);
	background-color: transparent;
	z-index: -1;
	transform-origin: center center;
	will-change: transform opacity;
	transition: 0.3s ease-in-out;
}

.videoCard:hover::before {
	inset: 0;
	background-color: var(--hover-bg-color);
	opacity: var(--hover-bg-opacity);
	transform: scaleX(1.05) scaleY(1.065);
}

.videoCard:hover .title {
	color: color-mix(in srgb, var(--color-text) 70%, var(--hover-text-rgb) 30%);
	transition: 0.3s ease-in-out;
}

.videoCard:hover .videoStats,
.videoCard:hover .channelName {
	color: color-mix(in srgb, var(--color-text) 30%, var(--hover-text-rgb) 70%);
	transition: 0.3s ease-in-out;
}

.previewContainer {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	overflow: hidden;
	border-radius: var(--border-radius-sm);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	will-change: transform;
}

.preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.duration {
	position: absolute;
	bottom: var(--spacing-sm);
	right: var(--spacing-sm);
	background-color: rgba(0, 0, 0, 0.7);
	color: var(--color-text-white);
	padding: var(--spacing-3xs) var(--spacing-xs);
	border-radius: var(--border-radius-xs);
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-md);
}

.videoDetails {
	display: flex;
	gap: var(--spacing-sm);
}

.channelAvatarLink {
	height: fit-content;
}

.channelAvatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.videoInfo {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xss);
}

.title {
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-md);
	line-height: 1.25;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}

.channelName {
	width: fit-content;
}

.videoStats {
	font-size: var(--font-size-sm);
	color: var(--color-secondary);
}
