.myChannelsListSection {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-lg);
	width: 100%;
}

.title {
	font-size: var(--font-size-2xl);
	color: var(--color-text);
	font-weight: var(--font-weight-xl);
}

.list {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-lg);
}
