.dataListSection {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-lg);
	width: 100%;
	padding: var(--spacing-md);
}

.title {
	font-size: var(--font-size-2xl);
	color: var(--color-text);
	font-weight: var(--font-weight-xl);
}

.errorMessage {
	font-size: var(--font-size-lg);
	color: var(--color-text);
	font-weight: var(--font-weight-lg);
}

.list {
	gap: var(--spacing-xl);
	width: 100%;
	padding-bottom: var(--spacing-xl);
}

.list.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.list.verticalList {
	display: flex;
	flex-direction: column;
}

.list.gap-lg {
	gap: var(--spacing-lg);
}

.list.gap-xl {
	gap: var(--spacing-xl);
}
