.timeRangeChart {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
}

.chartWrapper {
	width: 100%;
	height: 400px;
}

.rangeButtons {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-md);
	margin-left: auto;
	padding-right: 5%;
}
