.link {
	display: flex;
	align-items: center;
	gap: var(--spacing-lg);
	font-size: var(--font-size-md);
	color: var(--color-text);
	font-weight: var(--font-weight-sm);
	border: none;
	border-radius: var(--border-radius-sm);
	cursor: pointer;
	transition: var(--transition-speed-fast);
	text-decoration: none;
}

.background {
	padding: var(--spacing-md) var(--spacing-xl);
}

.background:hover {
	background: var(--color-background-hover);
}

.text {
	padding: 0;
	color: var(--color-secondary);
}

.text:hover {
	color: var(--color-text);
}
