.formContainer {
	display: flex;
	flex-direction: column;
	max-width: 680px;
	width: 100%;
	margin: 0 auto;
}

.title {
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-lg);
	text-align: center;
	margin-bottom: var(--spacing-md);
}

.form {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
}

.bannerContainer {
	aspect-ratio: 10 / 1.7;
}

.inputsContainer {
	display: flex;
	gap: var(--spacing-md);
}

.avatarUploadInput {
	min-width: 140px;
	max-width: 200px;
	width: 100%;
}

.textInputsContainer {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
	width: 100%;
}

.buttonsContainer {
	display: flex;
	justify-content: flex-end;
	gap: var(--spacing-md);
}
